canvas {
  border: 1px solid #aaa;
  border-radius: 0.2em;
  color: black;
}
.mkm_btn {
  background-color: white;
}
.mkm_btn:hover {
  background-color: #ddd;
}
.mkm_btn.pressed {
  background-color: #aaa;
}
.lbl_btn {
  background-color: yellow;
  padding: 1em;
}
div.inst-section {
  display: inline-block;
}
div.base_btn {
  margin: 1em 0.5em 0 0;
}
div.io-select {
  display: block;
}
